
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

.top-header-bar {
	background-color: #45629E;
	height: 100px;
	position: absolute;
	width: 100%;
	left: 0;
}

.header-logo {
	height: 75px;
	width: 75px;
	position: relative;
	top: 12px;
	left: 220px;
}

.title-text {
	color: #FFFFFF;
	position: relative;
	top: 12px;
}

.top-search-bar {
	position: relative;
	top: 38px;
	left: -265px;
	width: 119%;
}

.top-bar-name {
	color: #FFFFFF;
	position: relative;
	top: 36px;
}

.main-pic {
	padding-top: 100px;
}

.main-background-logo {
	width: 108%;
	position: relative;
	left: -136px;
	height: 500px;
	border: 2px solid;

}

.links-bar {
	position: relative;
	left: -121px;
	border: 1px solid;
	width: 108%;
	height: 61px;

}

.timeline-link {
	border-left: 1px solid;
	height: 58px;
	padding-top: 20px;
	font-weight: inherit;
	font-size: large;

}

.about-link {
	border-left: 1px solid;
	height: 58px;
	padding-top: 20px;
	font-weight: inherit;
	font-size: large;
}

.photo-link {
	border-left: 1px solid;
	height: 58px;
	padding-top: 20px;
	font-weight: inherit;
	font-size: large;
}

.friend-link {
	border-left: 1px solid;
	height: 58px;
	padding-top: 20px;
	font-weight: inherit;
	font-size: large;
}

.profile-link {
	border-left: 1px solid;
	height: 58px;
	padding-top: 18px;
	font-weight: inherit;
	font-size: large;
}

.avatar-logo {
	height: 175px;
	border: 1px solid;
	position: relative;
	top: -142px;
}

.about-title {
	border: 1px solid;
	position: relative;
	top: -92px;
	left: -120px;
	width: 108%;
	background-color: #D3D3D3;

	h1 {
		padding-left: 168px;
	}
}

.bio {
	border: 1px solid;
	position: relative;
	left: -121px;
	width: 108%;
	padding-top: 28px;
	padding-bottom: 30px;
	top: -93px;

	p {

	}
}

.txt0 {
	position: relative;
	left: 54px;
}

.txt1 {
	position: relative;
	left: 58px;
}

.txt2 {
	position: relative;
	left: 39px;
}

.txt3 {
	position: relative;
	left: 20px;
}

.txt4 {
	position: relative;
	left: 67px;
}


.txt5 {
	position: relative;
	left: 60px;
}

.basic-info {
	margin-left: 62px;
}

.words-to-live-by {
	margin-left: 163px;
}

.edit-button {
	margin-top: 25px;
	border: 1px solid;
}


.email-text {
	color: #FFFFFF;
	position: relative;
	top: 22px;
	left: 15px;
}


.password-text {
	color: #FFFFFF;
	position: relative;
	top: -4px;
	left: 15px;
}

.top-password-bar {
	width: 16%;
	position: relative;
	top: -10px;

}

.top-email-bar {
	width: 16%;
}


.inputs {
	position: relative;
	left: 522px;
}

.top-email-bar {
	position: relative;
	top: 20px;
}

.signup-text {
	color: #FFFFFF;
	position: relative;
	left: 135px;
	font-size: -webkit-xxx-large;
	font-size: 50px;
	font-weight: 800;
	top: 5px;
}

.login-button {
	width: 5%;
	position: relative;
	top: -9px;

}

.main-text {
	margin-top: 174px;
}

.signup-form {
	position: relative;
	left: 78px;

	h1{
		margin-bottom: 20px;
	}
}

.first-name-input-text {
	position: relative;
	width: 40%;

}

.last-name-input-field{
	position: relative;
	width: 44%;
	left: 78px;

}

.email-input-text {
	margin-top: 25px;
	width: 100%;
}

.password-input-text {
	margin-top: 25px;
	width: 100%;
}

.password-confirmation-input-text {
	margin-top: 25px;
	width: 100%;
}

.radio-buttons {
	margin-top: 25px;
}

.signup-button {
	margin-top: 25px;
}